<!-- <h2>Update Profile</h2>

<form method="post" enctype="multipart/form-data" action="{% url 'adminprofile' %}">
    {% csrf_token %}
  Name  <input type="text" name="name" value="{{user.Name}}"> <br>
Email <input type="email" name="email" value="{{user.Email}}"> <br>
Gender <input type="text" name="gender" value="{{user.Gender}}"> <br>
Role_name <input type="text" name="role" value="{{user.Role_name}}"> <br>
Mobile <input type="text" name="mob" value="{{user.Mob}}"> <br>
DOB <input type="text" name="dob" value="{{user.DOB | date:'Y-m-d'}}"> <br>
Image <input type="file" name="image"> <br>
Document <input type="file" name="upload_doc"> <br>

<input type="submit" value="Update" name="btn"> <br>

</form> -->